<div class="title-row">
    <h1>Clive Mizen</h1>
</div>
<div class="main-nav">
    <nav>
        <ul>
            <li>
                <a href=".">
                    <div class="slide"></div>
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a href="./links">
                    <div class="slide"></div>
                    <span>Links page</span>
                </a>
            </li>
            <li>
                <a href="./contact">
                    <div class="slide"></div>
                    <span>Contact</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
